* {
    margin-top: 0;
}


body {
    background-color: #f5f8ff;
}



/* fonts  */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared style  */
.btn-primary {
    font-family: "Raleway";
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.text-center {
    text-align: center;
}

/* header styles  */
.header {
    height: 750px;
    display: cover;
    background-image: url(../image/Hero-bg.png);
}

.navbar {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
}

.nav-title h3 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.banner {
    margin-top: 130px;
}

.banner button {
    margin-bottom: 155px;
}

.banner-title {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 65px;
}

/* main  styles*/
main {
    max-width: 1280px;
    background-color: #f5f8ff;
    margin: 0 auto;
}

/* Action section  */

.action-column-one{
    padding-top: 60px;
    padding-bottom: 60px;
}

.action-section {
    justify-content: space-between;
    display: flex;
    margin: 120px 0;
}

.action-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
}

.action-description {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 40px;
    color: #252432;
}

.action-column-two img {
    border-radius: 40px;
}

/* user styles  */

.users {
    border-radius: 15px;
    background-color: #D7D7ff;
}

.users-title {
    padding-top: 50px;
    font-family: "Raleway";
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}

.users-items {
    display: flex;
    justify-content: space-around;
}

.user-number-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}

.user-number-description {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    padding-bottom: 20px;
}

/* reviews styles  */
.reviews-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.reviews-title{
     padding-top: 50px;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}


.reviews{
    display: flex;
    justify-content: space-between;
}

.reviewers{
    display: flex
}

.reviews-card {
    background-color: #FAFCFF;
    padding: 30px;
    padding-right: 90px;
    border-radius: 15px;
}

.reviews-stars{
    padding-bottom: 20px;
}

.reviews-card-title{
     font-family: "Raleway";
    font-size: 24px;
    color: #252432;
    margin-bottom: 10px;
}

.reviews-card-description{
     font-family: "Raleway";
    color: #000000;
    margin-bottom: 25px;
}

.reviewers-img img{
    border-radius: 50%;
    margin-right: 12px;
}

.reviewers-name{
    color: #757575;
    padding-top: 5px;
       font-family: "Raleway";
    margin-bottom: 0px;
    font-size: 15px;
}

.reviews-date{
    color: #b3b3b3  ;
}